h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,th,td,form,fieldset,legend,button,input,textarea,body
	{
	margin: 0;
	padding: 0
}

img {
	border: 0;
	vertical-align: middle
}

li {
	list-style: none;
}

body,input,button,textarea,select,form {
	font: normal 16px 'Microsoft YaHei', simsun;
	color: #263e8a
}

#container {
	width: 900px;
	margin: 0 auto;
}

#content {
	width: 890px;
	margin: 0 auto;
}

.bg_01 {
	background-image: url(../images/bg_01.jpg);
	width: 900px;
	height: 192px;
}

.bg_02 {
	background-image: url(../images/bg_02.jpg);
	width: 900px;
	height: 418px;
}

.bg_03 {
	background-image: url(../images/bg_03.jpg);
	width: 900px;
	height: 190px;
}

/* Sign In */
.bg_02 .mod {
	padding: 140px 0 0 300px;
}

.kong {
	padding: 5px 0;
}

.d1 {
	background-image: url(../images/yhm.jpg);
	width: 284px;
	height: 34px;
}

.d2 {
	background-image: url(../images/mima.jpg);
	width: 284px;
	height: 34px;
}

.d3 {
	padding-left: 300px;
	width: 284px;
	height: 34px;
}

.d3_1 {
	float: left;
	background-image: url(../images/yzm.jpg);
	width: 199px;
	height: 34px;
}

.d3_2 {
	float: left;
	padding-left: 7px;
	width: 77px;
	height: 34px;
}

.d4 {
	padding-left: 300px;
	width: 214px;
	height: 34px;
}

.d4_1 {
	float: left;
	background-image: url(../images/xtxz.jpg);
	width: 70px;
	height: 34px;
}

.d4_2 {
	float: left;
	width: 144px;
	height: 24px;
	padding: 8px 0 0 0;
}

.d4_2 select.w82 {
	width: 144px;
}

.login-form-item {
	text-align: center;
}

.login-form-item span {
	width: 235px;
	height: 30px;
	padding: 5px 0 0 49px;
	display: block;
	margin: 0 auto;
}

.login-form-item span input {
	border: 0;
	font-size: 14px;
	width: 208px;
	height: 22px;
	line-height: 22px;
}

.login {
	text-align: center;
}

.login span {
	width: 149px;
	height: 30px;
	padding: 5px 0 0 50px;
	display: block;
	margin: 0 auto;
}

.login span input {
	border: 0;
	font-size: 14px;
	width: 125px;
	height: 22px;
	line-height: 22px;
}

.btn {
	padding: 23px 0 0 320px;
	width: 239px;
	height: 45px;
}

.btns1 {
	float: left;
	width: 117px;
	height: 45px;
}

.btns2 {
	float: left;
	width: 117px;
	height: 45px;
	padding-left: 5px;
}

/* Navigation */
.info_top {
	background-image: url(../images/top.jpg);
	width: 900px;
	height: 111px;
}

#nav {
	background-image: url(../images/nav_bg.jpg);
	width: 900px;
	height: 39px;
}

.menu2 {
	float: right;
	padding: 8px 20px 0 27px;
}

.menu2 .out {
	color: #5d5d5d;
	font: 13px 'Microsoft YaHei', simsun;
	text-align: center
}

.menu2 .out a {
	color: #5d5d5d;
	text-decoration: none;
}

.menu2 .out a:hover {
	color: #263e8a;
	text-decoration: underline;
}

/*Drop-down menu*/
#nav {
	background-image: url(../images/nav_bg.jpg);
	width: 900px;
	height: 39px;
}

#menu1 {
	float: left;
	padding: 5px 0 0 5px;
}

#menu1 li {
	padding-left: 3px;
	float: left;
	position: relative;
}

#menu1 li ul {
	display: none;
}

#menu1 .menu_1 {
	width: 74px;
	height: 28px;
}

#menu1 .menu_1 a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_02.jpg);
}

#menu1 .menu_1 a:hover {
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_02_1.jpg);
}

#menu1 .menu_2 {
	width: 74px;
	height: 28px;
}

#menu1 .menu_2 a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_01.jpg);
}

#menu1 .menu_2 a:hover {
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_01_1.jpg);
}

#menu1 .menu_3 {
	width: 74px;
	height: 28px;
}

#menu1 .menu_3 a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_03.jpg);
}

#menu1 .menu_3 a:hover {
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_03_1.jpg);
}

#menu1 .menu_4 {
	width: 74px;
	height: 28px;
}

#menu1 .menu_4 a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_04.jpg);
}

#menu1 .menu_4 a:hover {
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_04_1.jpg);
}

#menu1 .menu_5 {
	width: 74px;
	height: 28px;
}

#menu1 .menu_5 a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_05.jpg);
}

#menu1 .menu_5 a:hover {
	width: 74px;
	height: 28px;
	background-image: url(../images/nav_05_1.jpg);
}

/*这是下拉小菜单*/
#nav_root_ul li .nav_mini_ul {
	width: 127px;
	border: solid 1px #ccc;
	display: none;
	height: auto;
	/*border-bottom:solid 1px #ccc;*/
}

#nav_root_ul li .nav_mini_ul li {
	color: #5D5D5D;
	font: 13px 'Microsoft YaHei', simsun;
	text-align: center;
	padding-left: 0px;
}

#nav_root_ul li .nav_mini_ul li a {
	background-image: url("../images/m_bg.jpg");
	color: #5D5D5D;
	display: block;
	height: 34px;
	overflow: hidden;
	text-decoration: none;
	width: 127px;
	text-indent: 0px;
}

#nav_root_ul li .nav_mini_ul li a:hover {
	background-image: url("../images/m_bg_1.jpg");
	color: #263E8A;
	height: 34px;
	overflow: hidden;
	text-decoration: none;
	width: 127px;
}

#nav_root_ul li .nav_mini_ul li a span {
	clear: both;
	height: 19px;
	position: relative;
	top: 7px;
}

#menu1 ul li:hover ul {
	display: block;
}

#menu1 ul li.sfhover ul {
	display: block;
}

/*Bread crumbs*/
.breadcrumbs {
	padding-top: 10px;
	padding-left: 5px;
	height: 20px;
	text-decoration: none;
}

.breadcrumbs a {
	text-decoration: none;
}

.bc {
	padding: 10px 0 0 5px;
	color: #5d5d5d;
	font: 14px 'Microsoft YaHei', simsun;
}

.bc a {
	color: #5d5d5d;
	text-decoration: none;
}

.bc a:hover {
	color: #263e8a;
	text-decoration: underline;
}

.bc_mod {
	padding: 5px 0;
	clear: both;
}

.bc_mod .line {
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	_height: 1px;
	height: 1px;
	width: 840px;
	background-image: url(../images/line.jpg);
}

/*title*/
.lan_tit {
	padding: 10px 0 0 5px;
	color: #5d5d5d;
	font: 34px 'Microsoft YaHei', simsun;
	text-align: center
}

div.message {
	padding: 10px 0 0 5px;
	color: red;
	font: 16px 'Microsoft YaHei', simsun;
	text-align: center
}

/*search*/
.name_search {
	width: 420px;
	height: 34px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}

.name_search .name_search_tit {
	float: left;
	padding: 5px 10px 0 0;
	color: #5d5d5d;
	font: bold 16px 'Microsoft YaHei', simsun;
}

.name_search .name_search_button {
	float: left;
	width: 34px;
	height: 34px;
}

.search-form-item {
	text-align: center;
}

.search-form-item span {
	width: 330px;
	height: 28px;
	padding: 5px 0 0 2px;
	display: block;
	margin: 0 auto;
}

.search-form-item span input {
	border: 0;
	font-size: 14px;
	width: 320px;
	height: 22px;
	line-height: 22px;
}

/*form*/
.big-form {
	width: 840px;
	margin: 5px 20px;
	padding: 20px;
	overflow-x: auto;
	overflow-y: hidden;
}

.big-form table {
	width: 100%;
	border-width: 0px;
	border-style: none;
	border-color: #C1BBAB;
	border-collapse: collapse;
	empty-cells: show;
	padding: 10px;
}

.big-form table td,table th {
	border-width: 1px;
	border-style: solid;
	text-align: center;
	padding: 1px 5px 1px 5px;
}

.big-form table td {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
}

.big-form table td a.btn_edit {
	width: 57px;
	height: 24px;
	border: none;
	display: block;
	margin: 5px auto;
	background-image: url(../images/modify.gif);
}

.big-form table td a.btn_del {
	width: 57px;
	height: 24px;
	border: none;
	display: block;
	margin: 5px auto;
	background-image: url(../images/del.gif);
}

.big-form table td a.orderup {
	width: 16px;
	height: 16px;
	float: left;
	border: none;
	display: block;
	margin-left: 10px;
	background: url(../images/arrow_up.png);
}

.big-form table td a.orderdown {
	width: 16px;
	height: 16px;
	float: right;
	border: none;
	display: block;
	margin-right: 10px;
	background-image: url(../images/arrow_down.png);
}

.big-form table td button.orderup {
	width: 16px;
	height: 16px;
	float: left;
	border: none;
	margin-left: 10px;
	background-image: url(../images/arrow_up.png);
}

.big-form table td button.orderdown {
	width: 16px;
	height: 16px;
	float: right;
	border: none;
	margin-right: 10px;
	background: url(../images/arrow_down.png);
}

.big-form-tit {
	height: 34px;
	background-image: url(../images/form_bg.jpg);
	color: #5d5d5d;
	font: bold 14px 'Microsoft YaHei', simsun;
	text-align: center;
}

.heng .zend_form {
	background: #fff;
	width: 800px;
	margin: 5px auto;
	padding: 0;
}

.heng .zend_form dl {
	margin: 0 auto;
	width: 600px;
}

.heng .zend_form dt {
	padding: 2px 5px;
	float: left;
	text-align: right;
	margin: 6px auto;
	font: bold 16px 'Microsoft YaHei', simsun;
}

.heng .zend_form dd {
	padding: 2px 5px;;
	float: left;
	width: auto;
	margin: 5px auto;
	position: relative;
}

.heng .zend_form dd select {
	float: left;
	width: 200px;
	position: relative;
}

.heng .zend_form dd input#searchinput {
	width: 218px;
	height: 22px;
	padding: 0;
}

.heng .zend_form dd input#unitname {
	width: 336px;
	height: 22px;
	padding: 0;
}

.heng .zend_form dd input#usernamelog {
	width: 218px;
	height: 22px;
	padding: 0;
}

.heng .zend_form dd input#start_date,#end_date {
	width: 170px;
	height: 22px;
	padding: 0;
}

.heng .zend_form dt#searchinput-label {
	width: 280px;
}

.heng .zend_form dt#usersearchbtn-label {
	display: none;
}

.heng .zend_form dd input#usersearchbtn {
	margin-left: -46px;
	height: 34px;
}

.heng .zend_form p {
	padding: 0;
	margin: 0;
}

.heng .zend_form input#submit {
	background-image: url(../images/search_02.jpg);
	cursor: pointer;
	width: 24px;
	height: 24px;
	border: none;
	margin-top: 1px;
	margin-left: -26px;
}

.heng .zend_form button#submit {
	background-image: url(../images/search_02.jpg);
	cursor: pointer;
	width: 24px;
	height: 24px;
	border: none;
	margin-top: 1px;
	margin-left: -26px;
}

.heng .required:before {
	content: '* '
}

.heng .optional:before {
	content: ''
}

.shu .zend_form {
	background: #fff;
	width: 500px;
	margin: 5px auto;
	padding: 0;
	overflow: auto;
}

.shu .zend_form dt {
	padding: 0;
	clear: both;
	width: 30%;
	float: left;
	text-align: right;
	margin: 5px 5px 5px 0;
}

.shu .zend_form dd {
	padding: 0;
	float: left;
	width: 68%;
	margin: 5px 2px 5px 0;
}

.shu .zend_form dd {
	padding: 0;
	float: left;
	width: 68%;
	margin: 5px 2px 5px 0;
}

.shu .zend_form p {
	padding: 0;
	margin: 0;
}

.shu .zend_form dd select {
	float: left;
	width: 200px;
	margin-left: 30px;
	position: relative;
}

.zend_form textarea {
	margin: 0 0 0px 0;
	padding: 0;
	height: 25px;
}

.shu .zend_form dd input {
	margin-left: 30px;
}

.shu .zend_form dd input[type="text"] {
	float: left;
	width: 200px;
	height: 22px;
	position: relative;
}

.shu .zend_form dd input[type="password"] {
	float: left;
	width: 200px;
	height: 22px;
	position: relative;
}

.shu .zend_form dd input#unitname {
	width: 180px;
}

.shu .zend_form dd input#unitname {
	width: 180px;
}

.shu .zend_form dd#unitname-element {
	width: 240px;
}

.shu .zend_form dt#submitsearch-label {
	width: 0px;
	display: none;
}

.shu .zend_form dd#submitsearch-element {
	width: 24px;
}

.shu .zend_form textarea {
	height: 60px;
	width: 270px;
	margin-left: 30px;
	overflow-y: auto;
}

.shu .zend_form input#submit {
	width: 117px;
	height: 45px;
	border: none;
	background-image: url(../images/bt_03.jpg);
}

.shu .zend_form button#submitsearch {
	background-image: url(../images/search_02.jpg);
	cursor: pointer;
	width: 22px;
	height: 24px;
	border: none;
	margin-top: 0px;
	margin-left: -28px;
}

.shu .required:before {
	content: '* '
}

.shu .optional:before {
	content: ''
}
/*Page*/
.page_1 {
	padding: 0 0 10px 0;
	text-align: right;
	width: 840px;
	margin: 0 auto;
}

/*Chang*/
.form_chang {
	width: 424px;
	padding: 10px 0 10px 200px;;
	height: 30px;
	clear: both;
}

.form_chang .chang_01 {
	float: left;
	width: 66px;
	text-align: right;
	padding: 5px 10px 0 0;
	color: #5d5d5d;
	font: bold 14px 'Microsoft YaHei', simsun;
}

.form_chang .chang_02 {
	float: left;
	width: 320px;
}

.form_chang .chang_02 input {
	font-size: 14px;
	width: 320px;
	height: 30px;
	line-height: 22px;
}

.form_chang .chang_02 textarea {
	margin-bottom: 10px;
	clear: both;
	display: block;
	height: 60px;
	min-height: 60px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	vertical-align: top;
	width: 100%;
	word-wrap: break-word;
}

.form_chang .chang_02 select.w82 {
	margin-top: 6px;
	width: 144px;
	_height: 18px;
}

.form_chang .chang_02 .rado input {
	width: 13px;
	cursor: pointer;
	margin: 0 4px 0 1px;
	position: relative;
	top: -1px;
	vertical-align: middle;
}

.form_chang .button_01 {
	text-align: center;
}

/* foot */
#foot {
	text-align: center;
	color: #ffffff;
}

#foot_1 {
	padding: 10px 0;
	text-align: center;
	color: #5d5d5d;
	width: 900px;
	margin: 0 auto;
}